/*
  Icon Font: fontboomi
*/

@font-face {
  font-family: "fontboomi";
  src: url("../fonts/fontboomi.eot");
  src: url("../fonts/fontboomi.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontboomi.woff") format("woff"),
       url("../fonts/fontboomi.ttf") format("truetype"),
       url("../fonts/fontboomi.svg#fontboomi") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontboomi";
    src: url("../fonts/fontboomi.svg#fontboomi") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fb-administrator:before,
.fb-appreciate:before,
.fb-architect:before,
.fb-brainstorm:before,
.fb-build:before,
.fb-calendar:before,
.fb-checklist:before,
.fb-cloud-distribution:before,
.fb-cloud-outline:before,
.fb-cloud-storage:before,
.fb-communication:before,
.fb-competition:before,
.fb-developer:before,
.fb-draw:before,
.fb-edi:before,
.fb-energy-b2b-b2c:before,
.fb-energy-efficiency:before,
.fb-engage:before,
.fb-factory:before,
.fb-interaction:before,
.fb-internet-of-things:before,
.fb-mdm:before,
.fb-operations:before,
.fb-partners:before,
.fb-planning:before,
.fb-planning-sheet:before,
.fb-power-plant:before,
.fb-presentations:before,
.fb-product-release:before,
.fb-professional-skills:before,
.fb-publish:before,
.fb-sales-funnel:before,
.fb-search:before,
.fb-social:before,
.fb-spreadsheet:before,
.fb-sync:before,
.fb-target:before,
.fb-team:before,
.fb-testimonial:before,
.fb-time-to-value:before,
.fb-training-steps:before,
.fb-transmission-tower:before,
.fb-usability-evaluation:before,
.fb-wireframe:before {
  display: inline-block;
  font-family: "fontboomi";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fb-administrator:before { content: "\f12e"; }
.fb-appreciate:before { content: "\f112"; }
.fb-architect:before { content: "\f12f"; }
.fb-brainstorm:before { content: "\f113"; }
.fb-build:before { content: "\f129"; }
.fb-calendar:before { content: "\f12d"; }
.fb-checklist:before { content: "\f114"; }
.fb-cloud-distribution:before { content: "\f12a"; }
.fb-cloud-outline:before { content: "\f12b"; }
.fb-cloud-storage:before { content: "\f12c"; }
.fb-communication:before { content: "\f118"; }
.fb-competition:before { content: "\f101"; }
.fb-developer:before { content: "\f130"; }
.fb-draw:before { content: "\f102"; }
.fb-edi:before { content: "\f131"; }
.fb-energy-b2b-b2c:before { content: "\f103"; }
.fb-energy-efficiency:before { content: "\f104"; }
.fb-engage:before { content: "\f106"; }
.fb-factory:before { content: "\f119"; }
.fb-interaction:before { content: "\f11a"; }
.fb-internet-of-things:before { content: "\f11b"; }
.fb-mdm:before { content: "\f132"; }
.fb-operations:before { content: "\f109"; }
.fb-partners:before { content: "\f10a"; }
.fb-planning:before { content: "\f11c"; }
.fb-planning-sheet:before { content: "\f11d"; }
.fb-power-plant:before { content: "\f11e"; }
.fb-presentations:before { content: "\f10b"; }
.fb-product-release:before { content: "\f11f"; }
.fb-professional-skills:before { content: "\f120"; }
.fb-publish:before { content: "\f10c"; }
.fb-sales-funnel:before { content: "\f121"; }
.fb-search:before { content: "\f10d"; }
.fb-social:before { content: "\f10e"; }
.fb-spreadsheet:before { content: "\f122"; }
.fb-sync:before { content: "\f123"; }
.fb-target:before { content: "\f111"; }
.fb-team:before { content: "\f124"; }
.fb-testimonial:before { content: "\f125"; }
.fb-time-to-value:before { content: "\f10f"; }
.fb-training-steps:before { content: "\f133"; }
.fb-transmission-tower:before { content: "\f126"; }
.fb-usability-evaluation:before { content: "\f127"; }
.fb-wireframe:before { content: "\f128"; }
