/*
  Icon Font: fontboomi
*/

@font-face {
  font-family: "fontboomi";
  src: url("../fonts/fontboomi.eot");
  src: url("../fonts/fontboomi.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontboomi.woff") format("woff"),
       url("../fonts/fontboomi.ttf") format("truetype"),
       url("../fonts/fontboomi.svg#fontboomi") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontboomi";
    src: url("../fonts/fontboomi.svg#fontboomi") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fb-cloud-distribution:before,
.fb-competition:before,
.fb-draw:before,
.fb-energy-b2b-b2c:before,
.fb-energy-efficiency:before,
.fb-energy-power-modernization:before,
.fb-engage:before,
.fb-how-sell:before,
.fb-multi-user-workflow:before,
.fb-operations:before,
.fb-partners:before,
.fb-presentations:before,
.fb-publish:before,
.fb-search:before,
.fb-social:before,
.fb-time-to-value:before,
.fb-what-sell:before {
  display: inline-block;
  font-family: "fontboomi";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fb-cloud-distribution:before { content: "\f100"; }
.fb-competition:before { content: "\f101"; }
.fb-draw:before { content: "\f102"; }
.fb-energy-b2b-b2c:before { content: "\f103"; }
.fb-energy-efficiency:before { content: "\f104"; }
.fb-energy-power-modernization:before { content: "\f105"; }
.fb-engage:before { content: "\f106"; }
.fb-how-sell:before { content: "\f107"; }
.fb-multi-user-workflow:before { content: "\f108"; }
.fb-operations:before { content: "\f109"; }
.fb-partners:before { content: "\f10a"; }
.fb-presentations:before { content: "\f10b"; }
.fb-publish:before { content: "\f10c"; }
.fb-search:before { content: "\f10d"; }
.fb-social:before { content: "\f10e"; }
.fb-time-to-value:before { content: "\f10f"; }
.fb-what-sell:before { content: "\f110"; }
